.container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* flex: 1; */
  width: 100%;
  margin-bottom: 3rem;
}

section .section-title {
  display: flex;
  align-items: center;
}

section .item {
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 0;
}
section .item:last-child {
  border-bottom: none;
}

section .item .title {
  margin: 10px 0px 0px;
  font-size: 0.9rem;
  display: flex;
}

.item.placeholder {
  justify-content: space-between;
}
.item.placeholder span {
  font-size: 0.9rem;
  font-weight: 250;
}

section .item .desc {
  margin: 5px 0px;
  font-size: 0.8rem;
  font-weight: 250;
  color: rgb(158, 158, 158);
}
section .item .help-link {
  margin-top: -3px;
}

.box p,
.box h3,
.box ul {
  margin: 0 0 0.5rem;
}

.box h3 , .box h4 {
  margin: 1.5rem 0 0.9rem;
}

.box p,
.box li {
  line-height: 1.8rem;
  font-weight: 300;
}
.box img {
  max-width: 100%;
}
.box .text-center {
  text-align: center;
}
.box pre {
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  padding: 10px;
  background: #f2f2f2;
  overflow: auto;
  font-size: 0.8rem;
}
.box code {
  color: #181818;
  background: #f2f2f2;

  text-align: left;
  white-space: pre;
  font-size: 0.8rem;
  padding: 4px;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.box figcaption {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 200;
}

.box th,
.box td {
  text-align: left;
  padding: 5px;
}

.box table {
  font-size: 0.9rem;
}
